footer {
  font-family: "DIN Regular", sans-serif;
  background-color: #1b31b2;
  font-size: large;
  color: #959598;
  padding-left: 10%;
  padding-right: 5%;
  padding-top: 4%;
  padding-bottom: 2%;
  .madshade_footer_category {
    line-height: 1.5;
    font-size: 20px;
  }
  .terms {
    margin-bottom: 20px;
    display: inline-block;
  }
}
